[submodule "node"]
	path = node
	url = git://github.com/ry/node.git
[submodule "node-amqp"]
	path = node-amqp
	url = git://github.com/ry/node-amqp.git
[submodule "amqp"]
	path = amqp
	url = git://github.com/ry/node-amqp.git
